.techStack {
    /* height: 100vh; */
    width: 100%;
    max-height: 1080px;
    padding-bottom: var(--spaceL);
    margin: 120px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (--mediaDesktop) {
        margin: var(--space2XL) 0;
    }

    @media (--mediaTablet) {
        height: auto;
        margin: var(--space3XL) 0;
    }

    @media (--mediaMobile) {
        padding-bottom: var(--space4XL);
        margin-bottom: 0;
    }

    &[data-first='true'] {
        margin-top: 0;

        @media (--mediaTablet) {
            margin-top: 0;
        }
    }
}

.mainDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 10px solid #28292c;
    border-radius: 10px; */
    width: 100%;
    height: 100%;
    min-width: 50vw;
    padding: 1rem;


    @media (--mediaMobile),
    (--mediaMobileLS) {
        min-width: 90vw;
    }
}